.container {
    display: flex;
    flex-wrap: wrap;
    margin: 250px;
    
}

.box {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    color: white;
}

.blue {
    background-color: blue;
}
.pink {
    background-color: pink;
}
.green {
    background-color: green;
}
.brown {
    background-color: brown;
}
.orange {
    background-color: orange;
}