.box {
    box-sizing: border-box;
    border: 2px solid black;
    width: 350px;
    padding: 50px;
    margin: auto;
}

.caixaDisplay {
    display: flex;
    
}

.boxExemplo {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: 15px;
    align-items: end;
}